# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history



# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
android/app/.cxx/RelWithDebInfo/ib5j2v56/hash_key.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/build.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/build_file_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/prefab_config.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/reply/cache-v2-c4053873192368e644d4.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-dc1cee997965bd6c1073.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-0cca2ca7f7395e707486.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/.cmake/api/v1/reply/index-2025-06-14T07-38-28-0300.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/ib5j2v56/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/build.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/build_file_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/prefab_config.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/reply/cache-v2-3c564343e0bbe421952b.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-e0140efe1530f6fca4b2.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-55f93d90187061577cc9.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/.cmake/api/v1/reply/index-2025-06-14T07-38-28-0553.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/ib5j2v56/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/build.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/build_file_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/prefab_config.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/reply/cache-v2-9c92ea4f4c2006586848.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/reply/cmakeFiles-v1-e5c89e475cde0bd45048.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/reply/codemodel-v2-80d4e5c106fe0f9a5c3c.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/.cmake/api/v1/reply/index-2025-06-14T07-38-28-0782.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/build.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/build_file_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/prefab_config.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/reply/cache-v2-bcdcaedf19658aa7f4ce.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-3cb24130a50a5333c6b4.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/reply/codemodel-v2-83740c3ee07e9d1bbd15.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/.cmake/api/v1/reply/index-2025-06-14T07-38-29-0005.json
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/ib5j2v56/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
